<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>搜索神器</title>
    <script type="text/javascript">
    // if (require) {
    //     requireNodePack = require || {};
    // }
    </script>
    <!-- Bootstrap -->
    <link href="lib/css/bootstrap.css" rel="stylesheet">
    <script src="lib/js/jquery.min.js"></script>
    <script src="lib/js/bootstrap.js"></script>
    <script src="lib/js/vue.js"></script>
</head>

<body>
    <div id="app-container" class="container-fluid">
        <div class="container-main">
            <section class="top-bar-element">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="http://pic.58pic.com/58pic/16/42/96/56e58PICAu9_1024.jpg" alt="沙发网" title="沙发网">
                            <h2 class="top-bar-link text-justify">搜索神器</h2>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group">
                                <label>URL网址(例如:http://www.qq.com/(*).html)</label>
                                <input type="text" v-model="newUser.url" class="form-control input-sm">
                            </div>
                        </form>
                        <form id="inputContent" class="form-inline">
                            <!-- <span id="helpBlock" class="help-block">输入想要搜索信息的关键字</span> -->
                            <div class="form-group">
                                <label>
                                    <label>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                                            </label>
                                        </div>
                                    </label>
                                </label>
                                <div class="input-group">
                                    <div class="input-group-addon">关键字</div>
                                    <input type="text" class="form-control input-sm" v-model="newUser.keyword" placeholder="">
                                    <span v-show="validation.keywordsuccess" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span v-show="validation.keyworderror" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                </div>
                                <label for="exampleInputPassword1"></label>
                            </div>
                        </form>
                        <form id="inputContent" class="form-inline">
                            <!-- <span id="helpBlock" class="help-block">输入想要搜索信息的关键字</span> -->
                            <div class="form-group">
                                <label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                                        </label>
                                    </div>
                                </label>
                                <div class="input-group">
                                    <div class="input-group-addon">从</div>
                                    <input type="text" class="form-control input-sm" v-model="newUser.formNumber" placeholder="0">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only"></label>
                                <div class="input-group">
                                    <div class="input-group-addon">到</div>
                                    <input type="text" class="form-control input-sm" v-model="newUser.toNumber" placeholder="0">
                                </div>
                            </div>
                        </form>
                        <form id="inputContent" class="form-inline">
                            <div class="form-group">
                                <label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                                        </label>
                                    </div>
                                </label>
                                <div class="input-group">
                                    <div class="input-group-addon">到</div>
                                    <input type="text" class="form-control input-sm" v-model="newUser.formletter" placeholder="a">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only"></label>
                                <div class="input-group">
                                    <div class="input-group-addon">到</div>
                                    <input type="text" class="form-control input-sm" v-model="newUser.toletter" placeholder="z">
                                </div>
                                <!-- <label for="exampleInputPassword1">(区分大小写)</label> -->
                            </div>
                        </form>
                        <div class="optionCheckbox">
                            <label class="checkbox-inline">
                                <input type="checkbox" v-model="options.url" value="option1"> 采集链接
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" v-model="options.title" value="option2"> 搜索标题
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" v-model="options.content" value="option3"> 搜索内容
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" v-model="options.downloadUrl" value="option4"> 采集内部下载地址
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" v-model="options.preview" value="option5"> 生成预览缩略图
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" @click="optionAll()" v-model="options.all" value="option6"> 全选
                            </label>
                        </div>
                        <div class="bs-example" data-example-id="textarea-form-control">
                            <form>
                                <textarea class="form-control" rows="10"></textarea>
                            </form>
                        </div>
                        <button type="button" @click="commit()" class="btn btn-default btn-lg btn-block">开始抓取</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-result">
            <div class="container-right">
                <div class="row">
                    <div class="col-md-8 col-md-offset-4">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control input-sm">
                            </div>
                            <button type="submit" class="btn btn-default input-sm">搜索</button>
                        </form>
                    </div>
                </div>
                <ol>
                    <li v-for="data in commits">
                        <p><a >{{data.title}}</a></p>
                    </li>
                </ol>
                <div class="row">
                    <div class="col-md-7">
                        <ul class="pagination pagination-sm">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5" <nav>
                        <ul class="pager">
                            <li><a href="#">上一页</a></li>
                            <li><a href="#">下一页</a></li>
                        </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="release/bundle.js"></script>

</html>
